.posts-container {
    background-color: white;
/*     .card-height {
        .card-img-top {
            height: 300px;
            overflow: hidden;
        }
        .card-body {
            .card-text {
                height: 200px;
                overflow: hidden;
            }
        }

    } */
}

/* .article {
    position: relative;
}
  
.article:after {
position: absolute;
top: 0;  
left: 0;
height: 80%;
width: 100%;
content: "";
background: linear-gradient(to top,
    rgba(255,255,255, 1) 20%, 
    rgba(255,255,255, 0) 80%
);
pointer-events: none; 
}

 */